/* Estilos Generales */
html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-color: #f8f9fa; /* A light grey background */
    border-bottom: 1px solid #e1e4e8;
}

/* Centrado de Contenido */
h1, p, .button-container {
    text-align: center;
}

/* Botones */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

#toggleInputButton {
    padding: 10px 20px;
    background-color: #d7560b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

#toggleInputButton:hover {
    background-color: #c80a2d;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* O el ancho que prefieras */
    margin: 0 auto; /* Centrado horizontalmente */
    transition: all 0.3s; /* Transición suave para cambios */
}

.shared-input-style {
    width: 100%; 
    padding: .375rem .75rem; 
    font-size: 1rem; 
    border: 1px solid #ced4da; 
    border-radius: .25rem; 
    align-items: center;
    justify-content: center;
    margin: auto;
}

#inputContainer {
    width: 50px;
    margin: auto; /* Centra horizontalmente */
}

.button-container {    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

#toggleVisibilityButton {
    transition: visibility 0s, opacity 0.5s linear;
    border: 1px solid #ced4da;
    background-color: #fff;
    color: #000;
    display: none;
}

.input-group.input-encogido #toggleVisibilityButton {
    opacity: 0; 
}

.input-group:not(.input-encogido) #toggleVisibilityButton {
    visibility: visible; 
    opacity: 1;
}

.try-input-container {
    width: auto; 
}

/* Contenedor de Harvey */
#harveyContainer {
    margin: 10px auto;
    max-width: 300px;
    width: 80%;
    height: auto;
}

#harveyMouthClosed, #harveyMouthOpen, #harveySleep {
    width: 100%;
    height: auto;
    transition: display 0.2s ease-in-out;
}

/* Estilos de la Sección Características */
.features {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    clear: both;
}

.features section {
    max-width: 300px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.social-icons img {
    width: 32px;
    height: 32px;
}

/* Estilos Responsivos para Inputs */
@media (max-width: 768px) {
    .input-container {
        flex-direction: column;
    }
}