{% extends "layout.html" %}

{% block content %}
    <div class="hero">
        <h1>;;</h1>
        <p>text to speech with a fun twist!</p>
        <input type="text" id="testTextInput" placeholder="Escribe algo aquí...">
        <button id="sendTestTextButton">Enviar Texto de Prueba</button>
    </div>
      

  <!-- Botón para desplegar el input -->
    <div class="button-container">
        <button id="toggleInputButton">Speak to Me</button>
    </div>

    <!-- Input de texto inicialmente oculto -->
    <div id="inputContainer" style="display:none;">
        <input type="text" id="textToSpeak" placeholder="Me so horney me love you long tim." />
        <button onclick="speakText()">Speak</button>
        <div id="recordingContainer">
            <button id="startRecordingButton">Start Recording</button>
            <button id="stopRecordingButton" disabled>Stop Recording</button>
            <button id="sendAudioButton" disabled>Enviar Audio</button> 
            <audio id="audioPlayback" controls></audio>
        </div>
    </div>
    
    <div id="harveyContainer">
        <img src="/static/images/harvey_mouthClosed.png" alt="Harvey Mouth Closed" id="harveyMouthClosed">
        <img src="/static/images/harvey_mouthOpen.png" alt="Harvey Mouth Open" id="harveyMouthOpen" style="display: none;">
    </div>

  <div class="features">
    <section>
      <h2>Feature One</h2>
      <p>Description of feature one.</p>
    </section>
    <section>
      <h2>Feature Two</h2>
      <p>Description of feature two.</p>
    </section>
    <section>
      <h2>Feature Three</h2>
      <p>Description of feature three.</p>
    </section>
  </div>

{% endblock %}
