{% extends "layout.html" %}

{% block content %}

  <div class="title-container">
    <h1>HEY JIM, COME HERE PLEASE...</h1>
    <p>Press Michael</p>
  </div>
      
  <!-- Botón para desplegar el input -->
    <div class="button-container">
        <button id="toggleInputButton">
          <img src="/static/images/michael_botton.png" width=55px; alt="Michael Icon" />
        </button>
    </div>

    <div id="harveyContainer">
      <img src="/static/images/harvey_sleep.png" alt="Harvey Sleeping" id="harveySleep">
      <img src="/static/images/harvey_mouthClosed.png" alt="Harvey Mouth Closed" id="harveyMouthClosed" style="display: none;">
      <img src="/static/images/harvey_mouthOpen.png" alt="Harvey Mouth Open" id="harveyMouthOpen" style="display: none;">
    </div>

    <!-- Input de texto -->
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-8">
              <!-- Input de texto para usuario que se expande y contrae -->
              <div class="input-group input-encogido mb-3" id="inputContainer">
                <input type="text" id="textToSpeak" class="form-control shared-input-style" placeholder="Me so horney me love you long tim...">
                <button id="toggleVisibilityButton" class="btn btn-outline-secondary">&#128065;</button>
              </div>
    
              <h3 class="text-center mb-3">Try this</h3>
    
              <!-- Inputs de la sección 'Try this' -->
              <div class="input-group mb-3">
                  <input type="text" class="form-control" id="horney" value="Me so horney me love you long tim..." readonly>
                  <button class="try-button btn btn-dark">▶️</button>
              </div> 

              <div class="input-group mb-3">
                  <input type="text" class="form-control" id="ies" value="i i i i i,i,i,i,i i i i i i,i,i,i,i i i i" readonly>
                  <button class="try-button btn btn-dark">▶️</button>
              </div>
              <div class="input-group mb-3">
                  <input type="text" class="form-control" id="eses" value="s,s,s, ssss, s,s,s, ssss" readonly>
                  <button class="try-button btn btn-dark">▶️</button>
              </div>
          </div>
      </div>
  </div>
    
    
  <div class="features">
    <section>
      <h2>He can talk!</h2>
      <p>Harvey is Michael's own Robot.</p>
    </section>
    <section>
      <h2>Hide!</h2>
      <p>Hide what you want to say.</p>
    </section>
    <section>
      <h2>Take a test!</h2>
      <p>Discover how much of Michael are in your heart.</p>
    </section>
  </div>

{% endblock %}
