<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Michael's Robot</title>
    <link href="/static/css/styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <!-- Navegación y otros elementos de cabecera -->
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <h7>Footer</h7>
    </footer>

    <script src="/static/js/script.js"></script>
</body>
</html>
