<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harveys!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/png" href="/static/images/micael-favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="bg-white border-bottom fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="/static/images/michael.png" alt="Logo" width="60">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu" aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="navMenu">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="/what" class="nav-link btn btn-outline-danger">What is this?</a>
                        </li>
                        <li class="nav-item">
                            <a href="/why" class="nav-link btn btn-danger">Why this app?</a>
                        </li>
                        <li class="nav-item">
                            <a href="/test" class="nav-link btn btn-outline-danger">How much Michael are you?</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="/who" class="nav-link btn btn-secondary">Who am I?</a>
                        </li>
                        <li class="nav-item">
                            <a href="/contact" class="nav-link btn btn-secondary">Want to tell me something?</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>   

<main>
    {% block content %}
    <!-- El contenido específico de cada página irá aquí -->
    {% endblock %}
</main>

<footer>
    <p>Contact me: ppaupallares@gmail.com | 2023</p>
    <div class="social-icons">
        <a href="https://www.facebook.com/ppablahoney/" target="_blank"><img src="/static/images/square-facebook.svg" alt="Facebook"></a>
        <a href="https://www.linkedin.com/in/paupallares/" target="_blank"><img src="/static/images/linkedin.svg" alt="LinkedIn"></a>
        <a href="https://www.instagram.com/ppupipallares" target="_blank"><img src="/static/images/square-instagram.svg" alt="Instagram"></a>
        <a href="https://www.github.com/ssanjua" target="_blank"><img src="/static/images/square-github.svg" alt="GitHub"></a>
    </div>
</footer>

<script src="/static/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>