<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harveys!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/png" href="/static/images/micael-favicon.png">
    
</head>
<body>
    <header class="p-3 bg-white border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <img src="/static/images/michael.png" alt="Logo" width="60" class="me-2">
                </a>
    
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/what" class="btn btn-secondary me-2">What is this?</a></li>
                    <li><a href="/why" class="btn btn-outline-secondary me-2">Why this app?</a></li>
                    <li><a href="/test" class="btn btn-outline-secondary me-2">How much Michael are you?</a></li>
                </ul>
    
                <div class="d-flex flex-row"> <!-- Asegúrate de que esta sea la clase correcta -->
                    <a href="/who" class="nav-link px-2 text-danger me-2">Who am I?</a> <!-- Cambié la clase para cambiar el color del texto -->
                    <a href="/contact" class="nav-link px-2 text-dark me-2">Want to tell me something?</a> <!-- Cambié la clase para cambiar el color del texto -->
                </div>
            </div>
        </div>
    </header>    

<main>
    {% block content %}
    <!-- El contenido específico de cada página irá aquí -->
    {% endblock %}
</main>

<footer>
    <p>Contact me: mail@example.com | 2023</p>
    <div class="social-icons">
        <a href="www.facebook.com"><img src="/static/images/square-facebook.svg" alt="Facebook"></a>
        <a href="www.linkedin.com"><img src="/static/images/linkedin.svg" alt="LinkedIn"></a>
        <a href="www.instagram.com"><img src="/static/images/square-instagram.svg" alt="Instagram"></a>
        <a href="www.github.com"><img src="/static/images/square-github.svg" alt="GitHub"></a>
    </div>
</footer>

<script src="/static/js/script.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

</body>
</html>