{% extends "layout.html" %}

{% block content %}
<div class="contact-container container my-5">
    <h1>What is This App?</h1>

    <p>Welcome to a fun and simple app that brings text to life! This app is a tribute to one of the greatest TV series of all time and its iconic character, Michael, who had his own form of artificial intelligence 20 years ago.</p>

    <p>At its core, the app transforms user input into spoken words using text-to-speech technology. It's a straightforward yet entertaining way to interact with a piece of modern technology, paying homage to the timeless humor and creativity of the series.</p>

    <p>Combining HTML, CSS, JavaScript, and Python, this app represents the intersection of web development and programming, providing a seamless and responsive user experience. Whether you're a fan of the series or just looking for a bit of fun, this app is sure to bring a smile to your face.</p>

    <p>So go ahead, type in your favorite quote or phrase, and let the app do the rest. Enjoy the magic of turning text into speech, all while reminiscing about some of the best comedic moments in television history.</p>
</div>
{% endblock %}