{% extends "layout.html" %}

{% block content %}
<div class="contact-container container my-5">
    <h1>Hi there, I'm Paula 👋</h1>

    <p>🔥 I'm currently working on strengthening my knowledge. 💡 Looking to collaborate on new projects and Challenges. 🤔 I’m looking for help with optimizing web sites and databases. 📹 I'm also a filmmaker, you can check out my material above.</p>

    <h2>🛠 Skills</h2>
    <ul>
        <li>Python</li>
        <li>Machine Learning</li>
        <li>JavaScript</li>
        <li>Tableau</li>
        <li>ETL/ELT</li>
        <li>SQL</li>
    </ul>

    <h3>👩🏻‍💻 Main skills:</h3>
    <p>My Skills</p>

    <h3>🔗 Contact me:</h3>
    <p>
        <a href="https://www.linkedin.com/in/paupallares/" target="_blank">LinkedIn</a> | 
        <a href="https://www.instagram.com/ppupipallares" target="_blank">Instagram</a> | 
        <a href="https://www.facebook.com/ppablahoney/" target="_blank">Facebook</a>
    </p>

    <h3>⚡ Fun fact:</h3>
    <p>My first contact with programming was an interactive installation with 360 kinect and a 3D printed mountains using processing as a programming language, it was part of an exhibition in the Museum of Modern Arts in Buenos Aires, check it out: <a href="https://vimeo.com/yourvimeolink">Vimeo</a>.</p>

    <p>👩🏻‍💻 + 🎮 + ❤️ + 🧠 = 🎨👌🏼</p>
</div>
{% endblock %}
