{% extends "layout.html" %}

{% block content %}
<div class="contact-container container my-5">
    <h1>Why This App?</h1>

    <p>This application is the culmination of an exciting and challenging journey: my final project for CS50x, Harvard University's Introduction to Computer Science course. CS50x is a program that immerses students in the world of coding and computational thinking, and this app is the summation of all I have learned.</p>

    <p>Developed in just one weekend, this app integrates the knowledge and skills acquired during the course. From the basics of programming in Python, through web development with HTML, CSS, JavaScript, and Flask, to the implementation of this final project, every step has been a learning adventure.</p>

    <p>The aim of this app is not only to demonstrate the technical skills I have gained but also to show how different technologies and concepts can be integrated to create something functional and enjoyable. It's a testament to the fact that with the right education and tools, it is possible to turn ideas into reality.</p>

    <p>I hope you enjoy exploring and using this app as much as I enjoyed creating it. If you have any questions or feedback, please feel free to get in touch with me.</p>
</div>
{% endblock %}
